[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "ctrlpvim"]
	path = vim/pack/vendor/start/ctrlp.vim 
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/tpope/start"]
	path = vim/pack/tpope/start
	url = https://tpope.io/vim/surround.git
