[submodule "dotbot"]
	path = dotbot
	url = https://github.com/anishathalye/dotbot
	ignore = dirty
[submodule "vim/pack/ctrlp.vim"]
	path = vim/pack/vendor/start/ctrlp.vim 
	url = https://github.com/ctrlpvim/ctrlp.vim
[submodule "vim/pack/vendor/start/vim-easymotion"]
	path = vim/pack/vendor/start/vim-easymotion
	url = https://github.com/easymotion/vim-easymotion
[submodule "vim/pack/vendor/start/vim-surround"]
	path = vim/pack/vendor/start/vim-surround
	url = https://github.com/tpope/vim-surround
[submodule "vim/pack/vendor/start/nerdtree"]
	path = vim/pack/vendor/start/nerdtree
	url = https://github.com/preservim/nerdtree.git
[submodule "vim/pack/vendor/start/vim-airline"]
	path = vim/pack/vendor/start/vim-airline
	url = https://github.com/vim-airline/vim-airline
[submodule "vim/pack/vendor/start/nerdcommenter"]
	path = vim/pack/vendor/start/nerdcommenter
	url = https://github.com/preservim/nerdcommenter
[submodule "vim/pack/vendor/start/vim-fugitive"]
	path = vim/pack/vendor/start/vim-fugitive
	url = https://tpope.io/vim/fugitive.git
[submodule "vim/pack/vendor/start/vim-syntastic"]
	path = vim/pack/vendor/start/vim-syntastic
	url = https://github.com/vim-syntastic/syntastic.git
[submodule "vim/pack/vendor/start/vim-gitgutter"]
	path = vim/pack/vendor/start/vim-gitgutter
	url = https://github.com/airblade/vim-gitgutter.git
	url = https://github.com/zsh-users/zsh-syntax-highlighting.git
[submodule "oh-my-zsh/custom/plugins/zsh-history-substring-search"]
	path = oh-my-zsh/custom/plugins/zsh-history-substring-search
	url = https://github.com/zsh-users/zsh-history-substring-search
[submodule "oh-my-zsh/custom/plugins/zsh-syntax-highlighting"]
	path = oh-my-zsh/custom/plugins/zsh-syntax-highlighting
	url = https://github.com/zsh-users/zsh-syntax-highlighting
